<h2>Reset Password</h2>

{% csrf_token %}

<input type="password" id="password" placeholder="New Password"><br><br>

<button onclick="resetPassword()">Reset</button>

<p id="msg"></p>

<script>
function getCookie(name) {
    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(
                    cookie.substring(name.length + 1)
                );
                break;
            }
        }
    }

    return cookieValue;
}

function resetPassword() {
    let pathParts = window.location.pathname.split("/");
    let uid = pathParts[3];
    let token = pathParts[4];

    fetch(`/accounts/api/reset-password/${uid}/${token}/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken")
        },
        body: JSON.stringify({
            password: document.getElementById("password").value
        })
    })
    .then(async res => {
        const data = await res.json();

        document.getElementById("msg").innerText =
            data.message ||
            data.error ||
            data.detail ||
            "Something went wrong";

        console.log("Status:", res.status);
        console.log(data);
    })
    .catch(err => {
        console.log(err);
        document.getElementById("msg").innerText = "Request failed";
    });
}

function logout() {
    fetch("/accounts/api/logout/", {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken")
        }
    })
    .then(() => {
        window.location.href = "/accounts/login/";
    })
    .catch(err => {
        console.log(err);
    });
}
</script>

<br><br>

<button onclick="logout()">Logout</button>