<!DOCTYPE html>
<html>
<head>
<title>Create Meeting</title>

<style>
body{
    background:#f4f6f9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:sans-serif;
}

.card{
    background:white;
    padding:30px;
    border-radius:16px;
    width:400px;
}

input,button{
    width:100%;
    padding:12px;
    margin-top:10px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
}
</style>
</head>

<body>

<div class="card">
<h2>Create Meeting</h2>

<input id="title" placeholder="Title">
<input id="link" placeholder="Link">

<button onclick="create()">Create</button>

<p id="msg"></p>
</div>

<script>

function getCookie(n){
    let v=null;
    document.cookie.split(';').forEach(c=>{
        if(c.trim().startsWith(n+'=')){
            v=decodeURIComponent(c.split('=')[1]);
        }
    });
    return v;
}

function create(){
    fetch("/meetings/api/create/",{
        method:"POST",
        headers:{
            "Content-Type":"application/json",
            "X-CSRFToken":getCookie("csrftoken")
        },
        body:JSON.stringify({
            title:document.getElementById("title").value,
            link:document.getElementById("link").value
        })
    })
    .then(r=>r.json())
    .then(d=>{
        document.getElementById("msg").innerText="Created!";
    });
}

</script>

</body>
</html>